*{
    margin: 0;
    padding: 0;
}
.navbar{
    display:flex;
    background-color: rgba(73, 71, 71, 0.863);
    align-items: center;
    height: 80px;
    text-align: center;
    
}
.navlist{
   width: 80%;
   display:flex;

}
.navlist li{

   padding: 35px 30px;
   list-style: none;
   text-align: center;
   align-items: center;


}
.navlist li a{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    align-items: center;
    margin-top: 40px;
    }
.navlist li a:hover{
        color:orange;
        text-decoration: none;
        align-items: center;
        }

.logo{
    color: orange;
    align-items: center;
    margin: 30px;
    font-size: xx-large;
    margin-right: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.background{
    background: rgba(0, 0, 0, 0.7) url("./reading.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 1000 px;
}

.first{
    
    height:150px;
    text-align:center;
    align-items:center;
    padding:80px;
    margin-bottom: 10px;
}
h1{
    color:white;
    text-decoration:solid;
     text-align:center;
     padding:100px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 50px;
     margin-bottom: 5px;


}
.para{
    color:whitesmoke;
    /* margin-bottom: 10px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.background{
    height: 800px;
}
.buttons{
    display: flex;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    
    
}
.explore{
    height: 65px;
    width: 180px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    margin-right: 25px;
    font-size: 15px;
    background-color: rgba(240, 163, 22, 0.842);
}
.explore:hover{
    color: black;
}
#rightnav{
    text-align: right;
    display: flex;
    align-items:right;
    font-size: 30px;
    justify-content: right;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
   
   
}
i{
    align-items: right;
    float: right;
    margin-right: 0px;
    margin-left: 30px;
    color: white;

}
footer{
    margin-top: 120px;
    height: 70px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: 15px;
    margin-left: none;
    margin-right: none;
    padding: 0px;
    
}



